# Identifying Missing Values in Tabular Data

In [1]:
import pandas as pd
from io import StringIO

csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0, 6.0,,8.0
10.0, 11.0, 12.0,'''

The following line of code uses the `StringIO` function to convert the string into a CSV file, which is then passed to the `read_csv()` function to read its contents.

In [3]:
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

Some of the values in the DataFrame object are missing. It might be tedious to identify these missing values manually. The DataFrame's `isnull` method can be used to detect such values. This method returns a Boolean value indicating whether a value is missing in each cell.

In [4]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

We can apply the `sum` method to the DataFrame after using the `isnull` method. This will calculate the number of cells with missing data for each column, as `True` values are considered to be 1 and `False` values are considered to be 0.

In [5]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64